audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(80%) invert(12%);
    width: 200px;
    height: 25px;
}

.home {
	/*Properties*/
	background-image: url('../images/background3.jpg');
	/*Makes background image fix and will not scroll with the page*/
	background-attachment: fixed;
	/*The image is render only once*/
	background-repeat: no-repeat;
	/*Specify the size of background image. 
	cover: the image will resize to fill the container*/
	background-size: cover;
	/*Set the position of background image*/
	background-position: 50% 50%;
	min-height: 700px;
	position: relative;
	overflow: hidden;
}

/*Title class*/
.home .titles {
	width: 100%;
	height: 100%;
	min-height: 700px;
	text-align: center;
	position: absolute;
	padding: 0 80px;
	top: 0;
	background-color: rgb(27, 46, 90, 0.3);
	
}

.home .titles-wrap {
	margin-top: 200px;
}

.home h1 {
	color: white;
	width: 100%;
	display: block;
	margin: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.5;
}

.home h1 span {
	color: #db185c;
}

.home h2 {
	color: white;
	display: block;
	font-size: 27px;
	line-height: 1.5;
}

.home h2 span {
	color: white;
}

.home p {
	color : white;
	font-size: 18px;
	margin-top: 20px;
	max-width 450px;
}

.btn {
	color: white;
	margin-top: 10px;
	background-color: #174f65;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-align: center;
	font-weight: 600;
	/*Make first letter of each word capital*/
	text-transform: capitalize;
	padding: 0 45px;
	border-radius: 0;
	position: relative;
	/*element display as block but will only take it size*/
	display: inline-block;
	border: 2px solid #FFFFFF;
}

.btn:hover {
	color: white;
	text-decoration: underline;
}

/*Setting style for different breakpoint*/
@media only screen and (max-width: 768px) {
	.home .titles {
		padding: 0 40px;
		width: 100%;
	}
	.home h2, /*Buat sama*/
	.home p {
		font-size: 18px;
	}
	.home h1 {
		font-size: 40px;
	}
}

@media only screen and (max-width: 576px) {
	.home .titles-wrap {
		margin-top: 165px;
	}
	.home h2,
	.home p {
		font-size: 16px;
	}
	.home h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 360px) {
	.home .titles-wrap {
		margin-top: 110px 
	}
	.home h2,
	.home p {
		font-size: 15px;
	}
	.home h1 {
		font-size: 28px;
	}
	.home {
		min-height: 650px;
	}
}

.section1 {
	background-image: url('../images/drinks_.gif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 700px;
	position: relative;
	overflow: hidden;
	padding: 75px 0 70px 0;
}
	
.sec-title {
	/*Add some space between header and title*/
	margin-bottom: 50px;
}

.sec-title h2 {
	font-size: 26px;
	/*To make it bolder*/
	font-weight: 700;
	/*Height of a line*/
	line-height: 1.3;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px 0 0;
	position: relative;
	z-index: 1;
}

.sec-title h2::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 70%;
	z-index: -1;
	background-color: #123e6c;
}

.sec-title p {
	margin: 0;
	color: #c6cdbf;	
}

.section1 .sec-box {
	background-image: url('../images/scanline.png');
	background-blend-mode: multiply;
	background-size: cover;
	border: 2px solid black;
	box-shadow: 5px 5px #db185c;
	background-color: #1b5ea3;
	padding: 30px;
	margin-bottom: 30px;
	height: 200px;
	overflow: auto;
}

.section1 .sec-box::-webkit-scrollbar {
  display: none;
}

.section1 .sec-box .icontitle {
	overflow: hidden;
	margin-bottom: 10px;
}

.section1 .sec-box .icontitle img {
	float: left;
	width: 50px;
	height: 60px;
	line-height: 50px;
	font-size: 21px;
	color: white;
	text-align: center;
}

.section1 .sec-box .title {
	padding: 0 0 0 70px;
}

.section1 .sec-box .title span {
	color: white;
	font-size: 16px;
}

.section1 .sec-box .title h4 {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-transform: capitalize;
	margin: 7px 0 0 0;
}

.section1 .sec-box p {
	margin: 0;
	color: #c6cdbf;	
	font-size: 14px;
}

/*Setting style for different breakpoint*/
@media only screen and (max-width: 576px) {
	.section1 .sec-box {
		margin: 30px;
	}
	.section2 .sec2-img{
		padding-left:105px;
	}
}

@media only screen and (max-width: 360px) {
	.section1 .sec-box {
		margin-right: 10px;
		margin-left: 10px;
	}
	.sec-title p {
		font-size: 14px;
		color: white;
	}
	.section2 .sec2-img{
		padding-left:20px;
	}
}

.section2 {
	background-image: url('../images/bg1.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 700px;
	position: relative;
	padding: 75px 0 70px 0;
}

.section2 .list-filter {
	/*Create space between menu and gallery*/
	margin-bottom: 30px;
	padding: 0;
}

.section2 .list-filter li {
	list-style: none;
	/*display block but inline and not the whole line*/
	display: inline-block;
}

.section2 .list-filter a {
	display: block;
	color: grey;
	padding: 0 10px;
	margin: 4px 8px;
	cursor: pointer;
	line-height: 35px;
	font-weight: 500;
	transition: all 0.6s;
}

.section2 .list-filter a.active {
	color: white;
}

.section2 .list-filter a.active:hover {
	color: #123e6c;
}

.section2 .list-filter a:hover {
	color: white;
}

.projects-wrapper > div {
	margin: 25px 0 0 0;
}

.btn-sec2 {
	border: 0px;
	background-color: transparent;
	display: block;
	color: grey;
	padding: 0 10px;
	margin: 4px 8px;
	cursor: pointer;
	line-height: 35px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.6s;
}

.dropdown-menu {
	background-color: black;
	display: none;
    position: absolute;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px;
  	z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-sec2:hover {
	color: #123e6c;
} 

.sec2-box {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 15px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.sec2-box a {
	display: inline-block;
	position relative;
}

.sec2-box:hover .sec2-overlay {
	opacity: 1;
	transform: scale(1);
}

.sec2-box:hover .sec2-caption {
	opacity: 1;
}

.sec2-box:hover .sec2-img {
	transform: scale(1);
	width: 100%;
	transition: all 2s linear;
}

.sec2-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: #123e6c; 
	transition: all 0.2s linear;
	transform: scale(0);
}

.sec2-overlay h5 {
	color: white;
}

.sec2-overlay p {
	font-size: 12px;
	letter-spacing: 1.5px;
	margin-bottom: 0;
	color: white;
}

.sec2-overlay .sec2-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	width: 100%;
	transition: all 0.5s linear;
}

.overlay-icons {
	border: 2px solid white;
	color: white;
	font-size: 22px;
	border-radius: 50%
	height: 45px;
	width: 45px;
	line-height: 41px;
	transition: all 0.5s;
}

.overlay-icons:hover {
	background-color: white;
	color: #6666FF;
	border: 2px solid white;
}


@media only screen and (max-width: 768px) {
	.list-filter a {
		padding: 0 5px;
		margin: 4px 5px;
		font-size: 14px;
	}
	.btn-sec2 {
		padding: 0 5px;
		margin: 4px 5px;
		font-size: 14px;
	}
}

.section3 {
	display: grid;
	grid-template-columns: 3fr 6fr 2fr 5fr 10fr 2fr;
	grid-template-rows: 60px 50px 150px auto 200px 200px 150px;
	min-height: 700px;
	background-color: black;
}

.img1 {
	background: url(../images/Anna.gif);
	background-size: contain;
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

.img2 {
	background: url(../images/VA-11_HALL-A.png);
	background-size: cover;
	grid-column: 3 / 7;
	grid-row: 2 / 5;
}

.img3 {
	background: url(../images/jill.png);
	background-size: cover;
	grid-column: 4 / 7;
	grid-row: 6 / span 3;
}

.img4 {
	background: url(../images/shiba.jpg);
	background-size: cover;
	grid-column: 1 / 5;
	grid-row: 5 / span 2;
}

.strapline {
	grid-column: 5 / span 2;
	grid-row: 5 / span 2;}

.sec3-wrapper {
	color: white;
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	padding: 20px;
}

blockquote {
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 23px;
	font-weight: 3px;
	margin: 35px 200px 0 40px;
}

@media only screen and (max-width: 1028px) {
	.section3 blockquote {
		font-size: 18px
	}
}

@media only screen and (max-width: 904px) {
	.section3 blockquote {
		margin: 35px 100px 0 40px;
	}
}

@media only screen and (max-width: 671px){
	.section3 blockquote  {
		margin: 35px 50px 0 40px;
	}
}


.contact {
	background-color: black;
	min-height: 650px;
}

.text-wrap h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	color: white;
	padding-top: 100px;
	margin: 0;
}

.vue-form {
	font-size: 16px;
	padding: 12px 20px;
	border-radius: 4px;
	margin: auto;
	width: 500px;
}

.vue-form div {
	position: relative;
	margin: 15px 0;
}

.vue-form .label {
	color: white;
	margin-bottom: 10px;
	display: block;
}

.vue-form input[type="text"], .vue-form input[type="email"],
.vue-form textarea {
	display: block;
	width: 100%;
	color: white;
	appearance: none;
	padding: 10px;
  	border: 1px solid #cfd9db;
  	background-color: black;
  	border-radius: 0.25em;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.vue-form input[type="text"]:focus,
.vue-form input[type="email"]:focus,
.vue-form textarea:focus {
  	outline: none;
  	border-color: #123e6c;
  	box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.vue-form textarea {
	min-height: 120px;
  	resize: vertical;
  	overflow: auto;
}

.vue-form input[type="submit"] {
  	border: none;
  	background: #123e6c;
  	border-radius: 0.25em;
  	padding: 7px 20px;
  	font-family: monospace;
  	color: #ffffff;
  	font-weight: bold;
  	float: right;
  	cursor: pointer;
  	appearance: none;
}

.vue-form input[type="submit"]:hover {
    background: #2d5a88;
}
.vue-form input[type="submit"]:focus {
    outline: none;
    background: #123e6c;
}
.vue-form input[type="submit"]:active {
    transform: scale(0.9);
}
.vue-form .error-message {
    margin: 0px;
}
.vue-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0.25em;
    padding: 7px;
}
.vue-form .error {
    border-color: #e94b35 !important;
}
.vue-form .counter {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    padding: 4px;
    color:white;
}

@media only screen and (max-width: 554px){
	.section3 blockquote {
		font-size: 14px;
	}
	.vue-form {
		margin-left: auto;
		margin-right: auto;
		width: 65%;
		display: block;
	}
}
